@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Outfit:wght@400;700;900&family=DM+Mono:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-black font-sans antialiased overflow-x-hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading uppercase tracking-tighter;
  }
}

@layer utilities {
  .text-stroke-1 {
    -webkit-text-stroke: 1px black;
  }

  .text-stroke-2 {
    -webkit-text-stroke: 2px black;
  }

  .text-stroke-white-1 {
    -webkit-text-stroke: 1px white;
  }

  /* Custom Scrollbar for the vibe */
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-left: 2px solid #000000;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #ccff00;
    border: 2px solid #000000;
    border-radius: 6px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #ff0099;
  }
}